.removeArrows {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.removeArrows::-webkit-outer-spin-button,
.removeArrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
