@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-main {
    @apply mx-auto w-full max-w-screen-container px-8;
  }
}
@layer base {
  /* h2 {
    @apply font-integral-cf text-5xl font-bold uppercase;
  } */

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  :root {
    --primary-0: #ffffff;
    --primary-50: #f0f0f0;
    --primary-100: #e6e6e6;
    --primary-200: #c6c6c6;
    --primary-300: #a4a4a4;
    --primary-400: #606060;
    --primary-500: #303030;
    --primary-900: #080808;
  }
}

.slice-half {
  -webkit-mask: linear-gradient(
    to left,
    transparent 0%,
    transparent 50%,
    black 50%,
    black 100%
  );
  mask: linear-gradient(
    to left,
    transparent 0%,
    transparent 50%,
    black 50%,
    black 100%
  );
}

.block-display {
  display: flex;
}

@media screen and (min-width: 1280px) and (min-height: 800px) {
  .block-display {
    display: none;
  }
}

#nprogress .bar {
  /* display: none !important; */
}

#nprogress .peg {
  display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px var(--primary-100) inset !important;
}
